[Unit]
Description=binance
After=network.target

[Service]
EnvironmentFile=/root/simple-arbitrage/.env
ExecStart=/root/.nvm/versions/node/v18.12.1/bin/node /root/simple-arbitrage/dist/binance/index.js
Type=simple
User=root
Restart=on-failure


[Install]
WantedBy=multi-user.target
