[Unit]
Description=binance
After=network.target

[Service]
EnvironmentFile=/root/simple-arbitrage/.env
ExecStart=/root/.nvm/versions/node/v18.17.1/bin/npm run start
Type=simple
User=root
Restart=on-failure


[Install]
WantedBy=multi-user.target
