[Unit]
Description=simplearbitrage
After=network.target

[Service]
EnvironmentFile=/root/simple-arbitrage/.env
ExecStart=/root/simple-arbitrage/start.sh
Type=simple
User=root
Restart=on-failure
StartLimitBurst=0


[Install]
WantedBy=multi-user.target
