[Unit]
Description=binance
After=network.target

[Service]
EnvironmentFile=/root/simple-arbitrage/.env
ExecStart=npm run start
Type=simple
User=root
Restart=on-failure


[Install]
WantedBy=multi-user.target
